version: "3"
services:
  alarm-monitor:
    build: .
    restart: always
    environment:
      - TEXHOST=192.168.1.1
      - UDLPASSWORD=1234
      - BROKER_URL=192.168.1.2
      - BROKER_USER=user
      - BROKER_PASS=pass
      - MQTT_AREAS=all,ground_floor,upstairs,outside,shed
      - MQTT_AREAMAPS=0F000000000000,01000000000000,02000000000000,04000000000000,08000000000000